<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <!-- Used in production -->
  <link rel="stylesheet" href="/default_home.css"/>

  <!-- Used for development through VS Code Live Server extension -->
  <link rel="stylesheet" href="../static/default_home.css"/>
</head>

<body>
  <!-- Used in production -->
  <script th:src="@{/phaser.js}"></script>
  <script th:src="@{/game.js}"></script>

  <!-- Used for development through VS Code Live Server extension -->
  <script src="../static/phaser.js"></script>
  <script src="../static/game.js"></script>
</body>

</html>