<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Email Sent</title>
  <!-- Used in production -->
  <link rel="stylesheet" href="/email_confirmation.css"/>

  <!-- Used for development through VS Code Live Server extension -->
  <link rel="stylesheet" href="../static/email_confirmation.css"/>
</head>

<body>
  <div class="flex-container">
    <div class="content-container">
      <div class="text-container">
        <h1>Email Confirmed</h1>
        <h1>Account Activated</h1>
      </div>
      <div class="form-container">
        <form action="/login" method="post">
          <input type="submit" name="login" value="LOGIN" class="button">
        </form>
      </div>
    </div>
  </div>
</body>

</html>