<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Game</title>
  
  <!-- Used in production -->
  <link rel="stylesheet" href="/game.css"/>
  <script th:src="@{/socket.io.js}"></script>
  <script th:src="@{/socket.io-client}" type="module"></script>

  <!-- Used for development through VS Code Live Server extension -->
  <link rel="stylesheet" href="../static/game.css"/>
  <script src="../static/socket.io.js"></script>
</head>

<body>
  <!-- Used in production -->
  <script th:src="@{/phaser.js}"></script>
  <script th:src="@{/game.js}"></script>

  <!-- Used for development through VS Code Live Server extension -->
  <script src="../static/phaser.js"></script>
  <script src="../static/game.js"></script>
</body>

</html>