<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <!-- Used in production -->
  <!-- <link rel="stylesheet" href="/home.css"/> -->

  <!-- Used for development through VS Code Live Server extension -->
  <link rel="stylesheet" href="../static/home.css" />
</head>

<body>
  <div class="flex-container">
    <div class="content-container">
      <div class="form-container">
        <form action="/home" method="post">
          <h1>Welcome to UFG</h1>
          <br>
          <br>
          <div class="input-container">
            <input type="submit" value="LOGIN" class="button">
            <input type="submit" value="REGISTER" class="button">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>