<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <!-- Used in production -->
  <link rel="stylesheet" href="/home.css"/>

  <!-- Used for development through VS Code Live Server extension -->
  <link rel="stylesheet" href="../static/home.css"/>
</head>

<body>
  <div class="flex-container">
    <div class="content-container">
      <div class="form-container">
        <h1>Welcome to UFG</h1>
        <div class="input-container">
          <form action="/login" method="post">
            <input type="submit" value="LOGIN" class="button">
          </form>
          <form action="/register" method="post">
            <input type="submit" value="REGISTER" class="button">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>