<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <!-- Used in production -->
  <link rel="stylesheet" href="/register.css" />

  <!-- Used for development through VS Code Live Server extension -->
  <!-- <link rel="stylesheet" href="../static/register.css" /> -->
</head>

<body>
  <div class="flex-container">
    <div class="content-container">
      <div class="form-container">
        <form action="#" th:action="@{/register}" th:object="${user}" method="post">
          <h1>Register</h1>
          <br>
          <span class="subtitle">USERNAME</span>
          <br>
          <input type="text" th:field="*{username}">
          <br>
          <span class="subtitle">EMAIL</span>
          <br>
          <input type="text" th:field="*{email}">
          <br>
          <span class="subtitle">PASSWORD</span>
          <br>
          <input type="password" th:field="*{password}">
          <br>
          <span class="subtitle">REPEAT PASSWORD</span>
          <br>
          <input type="password" th:field="*{repeatedPassword}">
          <br>
          <div class="input-container">
            <input type="submit" value="REGISTER" class="button">
          </div>
        </form>
      </div>
    </div>
    <div th:if="${errorMessage} != null" class="error-container">
      <div class="box-container">
        <p th:text="${errorMessage}" class="error-message"></p>
      </div>
    </div>
  </div>
</body>

</html>