<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Email Sent</title>
  <!-- Used in production -->
  <link rel="stylesheet" href="/sent_confirmation_mail.css"/>

  <!-- Used for development through VS Code Live Server extension -->
  <link rel="stylesheet" href="../static/sent_confirmation_mail.css"/>
</head>

<body>
  <div class="flex-container">
    <div class="content-container">
      <div class="text-container">
        <h1>Sent Confirmation Email To</h1>
        <h1 th:text="${user.email}"></h1>
        <h1>Link Expires In 24 Hours</h1>
      </div>
    </div>
  </div>
</body>

</html>