<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="4.0">

    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>org.elsys.ufg.servlet.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Client</servlet-name>
        <jsp-file>/client.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Client</servlet-name>
        <url-pattern>/client/*</url-pattern>
    </servlet-mapping>
</web-app>